<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel = 'stylesheet' href = '/style.css'>
</head>
<body>
    
    <nav>
        <h1>Add Your input</h1>
        <ul>
            <li>
                <a href = '/profile'>Profile</a>
            </li>
        </ul>
    </nav>


<center>
    <div class = 'form-wrap'>
        <h4 class="mt-4">Use the given username and password from the mannager to login</h4>
        <hr>

        <form method="POST" action = '/add/login'>
            <input placeholder="Username..." name = 'username' class = 'mt-4' >
            <br>
            <br>
            <input placeholder="Password..." name = 'password' class = 'mt-4' type = 'password' >
            <br>
            <br>
            <button type = 'submit' class = 'mt-4'>Login</button>
        </form>
    </div>
</center>

</body>
</html>