<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel = 'stylesheet' href = '/style.css'>
</head>
<body>

    <nav>
        <h1>Profile</h1>
        <ul>
            <li>
                <a href = '/settings'>Settings</a>
            </li>
        </ul>
    </nav>

    
    <div class = 'container mt-4'>

            <h3 class="mt-4">Get Help From NCHS staff and students!</h3>
            <hr>

            <a class = 'mt-4' href = '/quick'>Find Quick Help</a>

            <br>
            <br>
            <br>
            <br>

            <div class = 'card mt-4 profileData'>
                <div class = 'card-body'>
                    <h3>Your Profile:</h3>
                    <a class = 'mt-4' href = '/user/edit'>Edit Profile</a>
                </div>
            </div>

    </div>

    
    <div id="results" class="container mt-4">

    </div>
    
    <script src = '/js/index.js'></script>

</body>
</html>