<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel = 'stylesheet' href = '/style.css'>
</head>
<body>

    <nav>
        <h1>Help</h1>
        <ul>
            <li>
                <a href = '/profile'>Profile</a>
            </li>
        </ul>
    </nav>

    
    <div class = 'container mt-4'>

    <h3>Pick witch catigory you need help with</h3>

  <h3>
  Art
  </h3>
    <select>
      <option>Drawing 1</option>
      <option>Drawing 2</option>
      <option>Drawing 3</option>
      <option>Drawing 4</option>
      <option>Painting 1</option>
      <option>Painting 2</option>
      <option>Painting 3</option>
      <option>Painting 4</option>
      <option>Ceramics 1</option>
      <option>Ceramics 2</option>
      <option>Ceramics 3</option>
      <option>Ceramics 4</option>
      <option>Jewelry/Metals 1</option>
      <option>Jewelry/Metals 2</option>
      <option>Jewelry/Metals 3</option>
      <option>Jewelry/Metals 4</option>
      <option>Photography 1</option>
      <option>Photography 2</option>
      <option>Photography 3</option>
      <option>Photography 4</option>
      <option>Film And Video Arts 1</option>
      <option>Film And Video Arts 2</option>
      <option>Digital Art 1</option>
      <option>Digital Art 2</option>
      <option>Digital Art 3</option>
      <option>Digital Art 4</option>
      <option>Sculpture 1</option>
      <option>Sculpture 2</option>
      <option>*AP art History</option>
      <option>*AP Studio Art 2D</option>
      <option>*AP Studio Art 2D Design</option>
      <option>*AP Studio Art 3D</option>
      <option>Adapted Art and Design Leaders</option>
    </select>
    
    <h3>
    Buisness
    </h3>
    <select>
      <option>Introduction to Business</option>
      <option>Tech Edge</option>
      <option>Accounting 1</option>
      <option>*Honors College Accounting</option>
      <option>Marketing</option>
      <option>Advertising</option>
      <option>Business Law</option>
      <option>International Business</option>
      <option>Computer Programming 1</option>
      <option>Computer Programming 2</option>
      <opiton>game Design</opiton>
      <option>Quant. Literacy w Statistics</option>
      <option>*Honors Precalculus</option>
      <option>*AP Calculus AB</option>
      <option>*AP Caluclus BC</option>
      <option>*Multivariable Calculus</option>
      <option>*Differential Equations</option>
      <option>*AP Statistics</option>
      <option>Web Page Design</option>
      <option>Advanced Web Page Design</option>
      <option>*AP Computer Science A</option>
      <option>*Software Engineering 1</option>
      <option>*Software Engineering 2</option>
      <option>Consumer Economics</option>
    </select>
    <h3>
    Music
    </h3>
    <select>
      <option>Band</option>
      <option>Intermediate Band</option>
      <option>Intermediate/Advanced Band</option>
      <option>Advanced Band</option>
      <option>Intro to Orchesta</option>
      <option>Intermediate Orchesta</option>
      <option>Inter/Advanced Orchestra</option>
      <option>Advanced Orchestra</option>
      <option>Advanced Female Choir</option>
      <option>Introduction to Mixed Choir</option>
      <option>Intermediate Mixed Choir</option>
      <option>Adcanved Mixed Choir</option>
      <option>*AP Music Theory</option>
      <option>Music Production 1</option>
      <option>Music Production 2</option>
      <option>*Fine Arts Capstone</option>
    </select>
    <h3>
    Physical Eduction
    </h3>
    <select>
      <option>PE 1</option>
      <option>PE 2</option>
      <option>PE Leadership</option>
      <option>CompetitiveTeam Sports</option>
      <option>Studio Fitness Mind and Body</option>
      <option>Self Defense</option>
      <option>Lifetime Activies and Fitness</option>
      <option>Adventure 1</option>
      <option>Adventure 2</option>
      <option>Strength and Performace</option>
      <option>Senior Wellness</option>
      <option>PE fitness</option>
      <option>PE Leader Training</option>
      <option>PE Leader</option>
      <option>Sports Medicine 1</option>
      <option>Sports Medicine 2</option>
      <option>Lifeguard Training</option>
      <option>Adapted PE Leaders</option>
    </select>
    <h3>
    Communication Arts
    </h3>
    <select>
      <option>English 1</option>
      <option>*Honors English 1</option>
      <option>English 2</option>
      <option>*Honors English 2</option>
      <option>English 2 - Journalism</option>
      <option>*Honors English 2 - Journalism</option>
      <option>Journalism</option>
      <option>Speech Communication</option>
      <option>English 3</option>
      <option>*Honors English 3</option>
      <option>American Studies</option>
      <option>*AP Language and Comp</option>
      <option>Writing Styles and Forms</option>
      <option>Senior Rhetoric</option>
      <option>*Honors Senior Rhetoric</option>
      <option>Creative Writing</option>
      <option>20th Century Literature</option>
      <option>*English Literature</option>
      <option>Traitons in Communications</option>
      <option>*Themes in Western Lit and Art</option>
      <option>Special ATopics in Literature</option>
      <option>World Literature</option>
      <option>*AP Literature and Comp</option>
      <option>Advanced Speech</option>
      <option>Mass Media</option>
      <option>Film as Literature</option>
      <option>Mewspaper Production</option>
    </select>
    https://drive.google.com/file/d/1KcO1CynNLBwBHRXoMM-TwwVQCVOzriyx/view

    <button id = 'findHelp'>Find Help</button>

    </div>

    <div id="results" class = 'container mt-4'>

    </div>
    
    <script src = '/js/index.js'></script>

</body>
</html>