nav {
    background-color: #DA2A05;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-self: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

.right {
    text-align: right;
}

.logout {
    color:#FFF;
    background-color: #DA2A05;
    border-radius: 25px;
    padding: 10px;
}

.logout:hover {
    color: yellow;
}


.userDescription {
    padding: 10px;
}

.userDiv {
    text-align: center;
}

.userForm {
    text-align: center;
}

.form-wrap {
    padding: 20px;
}

.itemconfiguration
{
		height:440px;
		width:215px;
		/* background-color:#CCC; */		
        overflow-y:auto;
        overflow-x:scroll;
		float:left;
		position:relative;
		margin-left:-5px;
}
.left_contentlist{
width:215px;
float:left;
padding:0 0 0 5px;
position:relative;
float:left;
border-right: 1px #f8f7f3 solid;
}

.permBtn {

    margin: 50px;
    padding: 5px;

}

.right_contentlist{
    width:215px;
    float:right;
    padding:0 0 0 5px;
    position:relative;
    float:right;
    border-right: 1px #f8f7f3 solid;
    }